name: xec-ml-wl-gh
channels:
  - pyg
  - pytorch
  - nvidia
  - conda-forge
  - nodefaults
dependencies:
  - python=3.10
  # --- Core ---
  - numpy
  - scipy
  - pandas
  - matplotlib
  - jupyterlab
  - ipykernel
  - tqdm
  - scikit-learn
  - pyarrow
  - yaml

  # --- Logging & Experiment Tracking ---
  - mlflow
  - tensorboard
  
  # --- GPU Libraries ---
  # Conda-forge/PyTorch channel handles the ARM/CUDA compatibility
  - pytorch=2.4.1
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  
  # --- PyTorch Geometric ---
  - pyg
  - pytorch-scatter
  - pytorch-sparse
  - pytorch-cluster
  - pytorch-spline-conv
  
  # --- HEP ---
  - uproot>=5.2
  - awkward>=2.6
  - vector>=1.4
  
  # --- Training ---
  - pytorch-lightning>=2.4
  - torchmetrics>=1.4
  - tensorboard>=2.17
  
  # --- Inference ---
  - onnx>=1.16
  - onnxruntime

  # --- Comet ML ---
  - pip
  - pip:
      - comet-ml>=3.44